@teal: #9CC;
@blue: #59B5E2;
@orange: #F6BA48;
@lightgrey: #F1F1F1;
@green: #A8C41A;
@darkgrey: #333333;


body {
  background: white;
  font-family: 'Crimson Text', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: @darkgrey;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
 font-size: 120px;
 font-weight: 100;
 font-family: 'Lato', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 color: #FFFFFF;
 line-height: 1;
 width: 100%;
 position: absolute;
}

h2 {
 font-size: 80px;
 font-weight: normal;
 margin: 0;
 color: @teal;
 font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 position: absolute;
}

h3 {
 font-size: 40px;
 font-weight: normal;
 margin: 0;
 color: @teal;
 font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 position: absolute;
}

.scrollblock {
  position: relative;
  margin: 0;
  width: 100%;
  height: 520px;
  text-align: center;

  &#page1 {
    background: whiteSmoke;
  }

  &#page2 {
    background: @blue;
  }

  &#page3 {
    background: whiteSmoke;
  }

  &#page4 {
    background: @blue;
  }

  &#page5 {
    background: whiteSmoke;
  }
}
